@page
@model IndexModel
@{
    ViewData["Title"] = "Congratulations | ARGO PROJ | Kubernetes";
}


<div class="hero">
    <div style="text-align:center;">
        <picture>
            <source srcset="~/img/KE-hello-world-dark.svg" media="(prefers-color-scheme: dark)">
            <img src="~/img/KE-hello-world.svg" alt="A group celebrating" width="427" height="231">
        </picture>
    </div>

    <div class="message">
        <h1>@Model.Message</h1>
        <h2>Congratulations, you successfully deployed a Dotnet application with Argo CD!</h2>
    </div>
</div>
